/*===========================
ALL
=============================*/

body{
	font-family: Lato;
	font-weight: 300;
}
a, a:visited, a:hover {
	text-decoration: none;
	color: #00bfff;

}




/*===========================
HEADER
=============================*/

header{
	text-align: center;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: gray;
}

.menu-item {
	display: inline-block;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 25px;
	padding-right: 25px;
}
#logo{
	font-weight: bold;
}



/* ul {
	
	display: inline;
	
}


.menu{
	padding-bottom: 20px;
	padding-top: 20px;
}

li{
	margin-left: 200px;
	margin-right: 200px;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #00bfff;
	color: white;
	text-align: center;
	font-family: Lato;
	padding: 30px;
}
li a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: Lato;
}

a:visited{
	color: white;
	text-decoration: none;
}
footer{
	position: fixed;
	bottom: 0px;
	width: 100%;
	text-align: center;
	font-family: Lato;
	font-size: 15px;
	background-color: #00bfff;
	color: white;
	
}

#searchtools li, p{
	display: inline;
	padding-left: 20px;
	margin: 0 auto;
	background-color: #00bfff;


}

#searcher{
	background-color: #00bfff;
	color: white;
	font-family: Lato;
	font-size: 15px;
}

#searcher a{
	color: white;
	text-decoration: none;
	text-align: center;
	font-family: Lato;
	font-size: 15px;
}
*/