/*===========================
ALL
=============================*/

body{
	font-family: Lato;
	font-weight: 300;
}
a, a:visited, a:hover {
	text-decoration: none;
	color: #00bfff;

}

.hide {
	display: none;
}

/*===========================
HEADER
=============================*/

header{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: gray;
	/*position: fixed;*/
}

.menu-item {
	display: inline-block;
	padding-top: 40px;
	padding-bottom: 40px;
	padding-left: 25px;
	padding-right: 25px;
}
#logo{
	font-weight: bold;
}

#search {
	float: right;
}

/*===========================
MAIN
=============================*/

main{
	max-width: 750px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
}

#headlinetitle{
	text-align: center;
	font-family: Lato;
	font-size: 25px;
	color: #00bfff;
	padding-bottom: 10px;
}
/*===========================
HEADLINES ID
=============================*/
 #headlines{
	padding: 10px;
	border-style: solid;
	border-width: 1px;
	border-color: CCC;
}
#headlines h1{
	font-size: 20px;
	padding-top: 20px;
	font-weight: bold;
}
#headlines h2{
	color: #666699;
}

.articles li{
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: CCC;
}

#noResults{
	text-align: center;
	font-family: Lato:;
}

#headlines h1, #headlines h2, #headlines p{
	padding-bottom: 10px;
}
/*===========================
FOOTER
=============================*/
footer{
	text-align: center;
}


